<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Home Page</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <table>
      <tr>
        <td><a href="index.html">Home</a></td>
        <td><a href="about.html">About</a></td>
      </tr>
    </table>
    <hr>

    <h1>Welcome to my site!</h1>

    <section>
      <p>This is my custom content area.</p>
    </section>

    <hr>
    <footer>
      <p>Contact: email@example.com</p>
    </footer>

  </body>
</html>
