body {
    font-family: 'Arial', sans-serif;
    margin: 5px;
    padding: 0;
    text-align: justify;
    background-color: White; /* Light background for the entire page */
    width: auto;
}

header {
    background-color: White; /* Vibrant purple header */
    color: black;
    text-align: center;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #0000ff;
    text-decoration: none;
    font-weight: bold;
}

main {
    margin: 0px 0px;
    background-color: White; /* White background for the main content */
    padding: 0px 1em;
}

img {
  display: block;
  margin: auto;
  border: 2px solid #000000;
  border-radius: 0px;
  padding: 3px;
  width: 75%;
}

footer {
text-align: center;
padding: 0 0px;
color: black;
}
